extends layout

block content
    .htmleaf-container
        .container.gallery-container(ng-controller="CheckCtrl")
            h1=   title
            .jq22-demo
                a.current.click(ng-click='query(null)') 全部
                a.click(ng-click='query(false)') 待审核
                a.click(ng-click='query(true)') 已经审核
            p.page-description.text-center 
                a(href='/test.html')上传
            .tz-gallery
                .row
                    .col-sm-6.col-md-4(ng-repeat="item in files")
                         .thumbnail
                            a.lightbox(ng-click='check(item)')
                                img(ng-src='/files/get/{{item.code}}', alt='{{item.address}}')
                            p userid:{{item.userid}}--于{{item.createtime | date:"yyyy-MM-dd HH:mm:ss"}}创建 
                            p
                              | 当前状态:
                              b(style='font-weight: 700;color: blue;') {{item.status?"启用":"禁用"}}
    //
        script(type='text/javascript', src='https://cdn.bootcss.com/baguettebox.js/1.8.2/baguetteBox.min.js')
        script(type='text/javascript').
            var query=function(status){
            $.get("/files/queryall/100/1",{"status":status},function(result){
                $(".row").html(null);
                result.data.forEach(item=>{
                    var address="/files/get/"+item.code;
                    var html='<div class="col-sm-6 col-md-4">';
                    //html+='<div class="thumbnail">';
                    html+='<a class="lightbox" href="javascript:"> <img src="'+address+'" alt="'+item.address+'"> </a>';
                    //html+=`<p>用户：'+item.userid+'于''创建</p> <p >当前状态：禁用 </p>`;
                    html+=`<p>userid:${item.userid}----${item.createtime}</p> <p >当前状态：${item.status?"启用":"禁用"} </p>`;
                    //html+='<div class="caption"><h3>Thumbnail label</h3><p>图片描述...</p></div>';
                    //html+='</div>';
                    html+='</div>';
                    $(html).appendTo(".row");
                });
                setTimeout(function(){
                baguetteBox.run('.tz-gallery');
                console.log("11111");
                },3000);
            });
            }
